.result-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.show-information{
    border-left: 3px solid rgb(201, 204, 207);
}
.show-result{ 
    display: grid;
    grid-template-columns: repeat(4,1fr);
}